{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{% static '/style/main.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div class="dashboard-analytic">
      <div class="div">
        <div class="sales-funnel">
          <div class="overlap">
            <div class="overall-sales">
              <div class="group">
                <div class="frame">
                  <div class="text-wrapper">This Month</div>
                  <img
                    class="akar-icons-chevron"
                    src="img/akar-icons-chevron-down.svg"
                  />
                </div>
                <div class="div-wrapper">
                  <div class="text-wrapper-2">Sales Funnel</div>
                </div>
                <div class="group-2">
                  <div class="text-wrapper-3">100K</div>
                  <img class="line" src="img/line-18.svg" />
                </div>
                <div class="group-3">
                  <div class="text-wrapper-3">80K</div>
                  <img class="line" src="img/line-18-5.svg" />
                </div>
                <div class="group-4">
                  <div class="text-wrapper-3">60K</div>
                  <img class="img" src="img/line-18-4.svg" />
                </div>
                <div class="group-5">
                  <div class="text-wrapper-3">40K</div>
                  <img class="line" src="img/line-18-2.svg" />
                </div>
                <div class="group-6">
                  <div class="text-wrapper-3">20K</div>
                  <div class="text-wrapper-4">10</div>
                  <div class="text-wrapper-5">11</div>
                  <div class="text-wrapper-6">12</div>
                  <div class="text-wrapper-7">13</div>
                  <div class="text-wrapper-8">14</div>
                  <div class="text-wrapper-9">15</div>
                  <div class="text-wrapper-10">16</div>
                  <div class="text-wrapper-11">17</div>
                  <div class="text-wrapper-12">18</div>
                  <div class="text-wrapper-13">19</div>
                  <div class="text-wrapper-14">20</div>
                  <div class="text-wrapper-15">21</div>
                  <div class="text-wrapper-16">22</div>
                  <div class="text-wrapper-17">23</div>
                  <div class="text-wrapper-18">24</div>
                  <img class="line" src="img/line-18-3.svg" />
                </div>
              </div>
            </div>
            <img class="vector-stroke" src="img/vector-5-stroke.svg" />
            <img class="vector" src="img/vector-4.svg" />
            <img class="line-2" src="img/line-22.svg" />
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="frame-2">
                  <div class="text-wrapper-19">83,234</div>
                </div>
                <img class="rectangle" src="img/rectangle-310.svg" />
              </div>
            </div>
            <div class="ellipse"></div>
          </div>
        </div>
        <div class="device-category">
          <div class="overlap-2">
            <div class="text-wrapper-20">Device Category</div>
            <div class="group-7">
              <div class="group-8">
                <div class="vuesax-linear-mobile">
                  <img class="vuesax-linear-mobile-2" src="img/mobile.svg" />
                </div>
              </div>
              <div class="text-wrapper-21">Mobile</div>
              <div class="text-wrapper-22">96.42%</div>
            </div>
            <div class="group-9">
              <div class="group-8">
                <img class="vuesax-linear" src="img/monitor.svg" />
              </div>
              <div class="text-wrapper-23">Desktop</div>
              <div class="text-wrapper-24">2.76%</div>
            </div>
            <div class="group-10">
              <div class="group-8">
                <img class="vuesax-linear-mobile-3" src="img/mobile-2.svg" />
              </div>
              <div class="text-wrapper-21">Tablet</div>
              <div class="text-wrapper-25">0.82%</div>
            </div>
          </div>
        </div>
        <div class="campaign-performance">
          <div class="overlap-3">
            <div class="text-wrapper-26">Campaign</div>
            <div class="text-wrapper-27">Impressions</div>
            <div class="text-wrapper-28">Clicks</div>
            <div class="text-wrapper-29">CPC</div>
            <div class="text-wrapper-30">Spend</div>
            <div class="text-wrapper-20">Campaign Performance</div>
            <img class="line-3" src="img/line-19.svg" />
            <div class="group-11">
              <div class="text-wrapper-31">Google Ads</div>
              <div class="text-wrapper-32">189k</div>
              <div class="text-wrapper-33">9k</div>
              <div class="text-wrapper-34">$8.12</div>
              <div class="text-wrapper-35">$56,123.12</div>
              <div class="img-wrapper">
                <img class="img-2" src="img/akar-icons-google-fill.svg" />
              </div>
            </div>
            <div class="group-12">
              <div class="text-wrapper-31">Tik Tok</div>
              <div class="text-wrapper-36">287k</div>
              <div class="text-wrapper-37">15k</div>
              <div class="text-wrapper-38">$12.12</div>
              <div class="text-wrapper-39">$40,123.12</div>
              <div class="img-wrapper">
                <img class="fa-brands-tiktok" src="img/fa-brands-tiktok.svg" />
              </div>
            </div>
            <div class="group-13">
              <div class="text-wrapper-31">Instagram</div>
              <div class="text-wrapper-32">156k</div>
              <div class="text-wrapper-37">12k</div>
              <div class="text-wrapper-34">$5.12</div>
              <div class="text-wrapper-35">$39,123.12</div>
              <div class="img-wrapper">
                <img class="img-2" src="img/akar-icons-instagram-fill.svg" />
              </div>
            </div>
            <div class="frame-3"><div class="text-wrapper">See All</div></div>
          </div>
        </div>
        <div class="top-countries">
          <div class="overlap-4">
            <div class="text-wrapper-20">Top Countries</div>
            <div class="group-14">
              <img
                class="img-3"
                src="img/emojione-flag-for-us-outlying-islands.svg"
              />
              <div class="text-wrapper-40">United State</div>
              <div class="text-wrapper-41">48%</div>
            </div>
            <div class="group-15">
              <img
                class="img-3"
                src="img/emojione-flag-for-united-kingdom.svg"
              />
              <div class="text-wrapper-42">United King...</div>
              <div class="text-wrapper-43">12%</div>
            </div>
            <div class="group-16">
              <img class="img-3" src="img/emojione-flag-for-switzerland.svg" />
              <div class="text-wrapper-44">Switzerland</div>
              <div class="text-wrapper-45">9%</div>
            </div>
          </div>
        </div>
        <div class="revenue">
          <div class="group-17">
            <div class="group-18">
              <div class="text-wrapper-46">143 Orders</div>
              <div class="text-wrapper-47">$2,868.99</div>
            </div>
            <div class="frame-4">
              <div class="text-wrapper-48">Today Revenue</div>
              <div class="frame-5">
                <img class="bi-arrow-up" src="img/bi-arrow-up.svg" />
                <div class="text-wrapper-49">3.0%</div>
              </div>
            </div>
          </div>
          <div class="group-19">
            <div class="group-20">
              <div class="text-wrapper-46">32k Visitors</div>
              <div class="text-wrapper-47">156k</div>
            </div>
            <div class="frame-4">
              <div class="text-wrapper-48">Today Sessions</div>
              <div class="frame-6">
                <img class="bi-arrow-up" src="img/bi-arrow-up-3.svg" />
                <div class="text-wrapper-50">3.2%</div>
              </div>
            </div>
          </div>
          <div class="group-21">
            <div class="group-22">
              <div class="text-wrapper-46">$34.28 Average Order</div>
              <div class="text-wrapper-47">3,422</div>
            </div>
            <div class="frame-4">
              <div class="text-wrapper-48">Subscribers</div>
              <div class="frame-6">
                <img class="bi-arrow-up" src="img/image.svg" />
                <div class="text-wrapper-51">8.3%</div>
              </div>
            </div>
          </div>
          <div class="group-wrapper">
            <div class="group-23">
              <div class="text-wrapper-52">Wed, Jul 20</div>
              <div class="text-wrapper-53">$1,567.99</div>
              <div class="frame-4">
                <div class="text-wrapper-54">Available to witdraw</div>
                <div class="frame-6">
                  <img class="bi-arrow-up" src="img/bi-arrow-up-2.svg" />
                  <div class="text-wrapper-50">10.0%</div>
                </div>
              </div>
            </div>
          </div>
          <img class="line-4" src="img/line-23.svg" />
          <img class="line-5" src="img/line-24.svg" />
          <img class="line-6" src="img/line-25.svg" />
        </div>
        <div class="text-wrapper-55">Good Morning, Gavano !</div>
        <div class="notifications">
          <div class="mi-notification">
            <div class="ellipse-wrapper"><div class="ellipse-2"></div></div>
          </div>
        </div>
        <div class="side-menu">
          <div class="overlap-5">
            <div class="rectangle-2"></div>
            <div class="group-24">
              <div class="dashboard">
                <div class="text-wrapper-56">Dashboard</div>
                <img class="img-4" src="img/element-2-1.svg" />
              </div>
              <div class="orders">
                <div class="text-wrapper-57">Campaign</div>
                <img class="vuesax-linear-2" src="img/presention-chart.svg" />
              </div>
              <div class="products">
                <div class="text-wrapper-58">Audience</div>
                <img class="img-4" src="img/personalcard.svg" />
              </div>
              <div class="analytics">
                <div class="text-wrapper-57">Performance</div>
                <img class="img-4" src="img/chart-1-1.svg" />
              </div>
              <div class="analytics-2">
                <div class="text-wrapper-59">Profile</div>
                <img class="img-5" src="img/frame.svg" />
              </div>
              <div class="customers">
                <div class="text-wrapper-60">Promote</div>
                <img class="vuesax-linear-like" src="img/like-shapes.svg" />
              </div>
              <div class="customers-2">
                <div class="text-wrapper-61">Setting</div>
                <img class="img-5" src="img/setting-2.svg" />
              </div>
            </div>
            <img class="line-7" src="img/line-21.svg" />
          </div>
        </div>
        <div class="logo">
          <div class="adslitics-wrapper">
            <p class="adslitics">
              <span class="span">ON</span>
              <span class="text-wrapper-62">DATABEE</span>
            </p>
          </div>
          <img class="group-25" src="img/group-250.png" />
        </div>
        <div class="avatar">
          <img class="ellipse-3" src="img/ellipse-31.png" />
          <div class="text-wrapper-63">Gavano</div>
          <img class="more-square" src="img/more-square-1.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
